<% if baggage.nil? %>
  <h1><%= t 'not_found' %></h1>
<% else %>
  <h1><%= t 'activerecord.models.baggage' %></h1>
  <p><%= t 'activerecord.attributes.baggage.id'%> = <%= baggage.id %></p>
  <p><%= t 'activerecord.attributes.baggage.num'%> = <%= baggage.num %></p>
  <p><%=t 'activerecord.attributes.baggage.weight'%> = <%= baggage.weight %></p>
  <%= link_to (t "edit"), edit_baggage_path(baggage) %>
  <%= form_with url: baggages_path + "/" + baggage.id.to_s, method: :delete do |form|%>
    <%= form.submit (t "delete") %>
  <% end %>
<% end %>
